<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Page title and linking to external CSS file -->
    <title>Tournament Management and Athlete Empowerment</title>
    <link rel="stylesheet" href="/CSSFile.css">
    <link rel="icon" href="/backgrounds/icon.png">
</head>
<body id="athletes-list" class="background">
<!-- Header section -->
<div class="top-of-page">
    <div class="header">
        <h1 class="headerText">Tournament Management and Athlete Empowerment</h1>
    </div>

    <div th:include="/navbar :: navbar"></div>
</div>
<div class="container">
    <!-- Page description -->
    <h1 class="page-description">Here are the Athletes Currently in the Database</h1>

    <!-- Athletes list container -->
    <div id="athletes-list-table-container">
        <!-- Container label -->
        <h2 class="athletes-list-container-label">Athletes</h2>

        <!-- Table for displaying athlete data -->
        <table class="table">
            <thead>
            <!-- Table header -->
            <tr class="table-header">
                <th scope="col">Athlete ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Wins</th>
                <th scope="col">Losses</th>
                <th scope="col">Ties</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterate over the list of athletes and display each row -->
            <tr class="striped-table" th:each="athlete : ${listAthletes}">
                <td th:text="${athlete.getAthleteID()}"></td>
                <td th:text="${athlete.getFirstName()}"></td>
                <td th:text="${athlete.getLastName()}"></td>
                <td th:text="${athlete.getWins()}"></td>
                <td th:text="${athlete.getLosses()}"></td>
                <td th:text="${athlete.getTies()}"></td>
                <td><a id="athlete-view-button" class="button-green" th:href="@{'/athlete_profile/athlete/'
                    + ${athlete.getAthleteID()}}">Profile</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
