/* ---------- Shared Elements ---------- */

.background {
    background-color: #7F39FB;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    background-color: #0000003E;
    background-position: top;
    font-size: xx-large;
    color: white;
    text-align: center;
    margin: 0;
    text-shadow: 4px 4px 4px black;
}

.headerText {
    margin: 0;
}

.page-description {
    font-size: xxx-large;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

.table {
    background: white;
    font-size: x-large;
    box-shadow: 3px 3px 5px black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-collapse: collapse;
}

td{
    text-align: center;
}

th{
    border-bottom: 2px solid black;
}

tr{
    height: 50px;
}

.striped-table:nth-child(even) {
    background-color: #E1C8FF;
}

.button {
    background-color: #BB86FC;
    text-decoration: none;
    color: white;
    box-shadow: 3px 3px 5px black;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: #D2AEFE;
}

.button:active {
    background-color: #9540FC;
    box-shadow: inset 2px 2px 4px black;
}

.button-green{
    background-color: #00C4B4;
    text-decoration: none;
    color: white;
    box-shadow: 3px 3px 5px black;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    transition-duration: 0.2s;
}

.button-red{
    background-color: indianred;
    text-decoration: none;
    color: white;
    box-shadow: 3px 3px 5px black;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    transition-duration: 0.2s;
}

.button-blue{
    background-color: cornflowerblue;
    text-decoration: none;
    color: white;
    box-shadow: 3px 3px 5px black;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    transition-duration: 0.2s;
}

.button-green:hover {
    background-color: #b1eee0;
}

.button-green:active {
    background-color: #3b9872;
    box-shadow: inset 2px 2px 4px black;
}

.button-red:hover {
    background-color: lightcoral;
}

.button-red:active {
    background-color: crimson;
    box-shadow: inset 2px 2px 4px black;
}

.button-blue:hover {
    background-color: lightblue;
}

.button-blue:active {
    background-color: royalblue;
    box-shadow: inset 2px 2px 4px black;
}

.horizontal {
    resize: horizontal;
}

.vertical {
    resize: vertical;
}

.both {
    resize: both;
}

.nav-link {
    padding: 0.5%;
    border-radius: 40px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

#navbar-nav {
    background-color: #00C4B4;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: .1%;
    padding-bottom: .2%;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
}

#navbar-nav-logout-button{
    font-size: x-large;
    font-family: "Times New Roman";
    height: 99.9%;
    padding: 10%;
    cursor: pointer;
    box-shadow: 3px 3px 5px black;
    text-shadow: 2px 2px 4px black;
}


/* ---------- Login Page Elements ---------- */

#login-page {
    background-image: url("backgrounds/SportsBG1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#login-box {
    background-color: #00C4B4;
    height: 50%;
    width: 30%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 5px black;
}

#login-form-form {
    display: block;
}

#login-box-header {
    font-size: xx-large;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
}

.login-form-input-label {
    margin-left: 5%;
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#form-label-two {
    display: block;
    margin-top: 5%;
}

.login-form-input {
    width: 100%;
    font-size: x-large;
    padding: 2% 2%;
    border-radius: 40px;
}

#submit-login-button {
    display: block;
    height: 50px;
    width: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    font-size: large;
}

#cancel-login-button, #create-new-link {
    height: 35px;
    width: 20%;
    margin-top: 10%;
    border-radius: 20px;
    font-size: large;
}

#cancel-login-button {
    margin-left: 17%;
}

#create-new-link {
    margin-left: 25%;
}

/* ---------- Landing Page Elements ---------- */

#landing-page {
    background-image: url("backgrounds/SportsBG2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#cards-container {
    background-color: #00C4B4;
    height: 50%;
    width: 50%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

.landing-page-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

.landing-page-button {
    display: block;
    margin: 5%;
    padding: 3%;
    border-radius: 20px;

}

.landing-page-button-title {
    font-size: xx-large;
    margin-top: 3%;
    margin-bottom: 0.5%;
}

.landing-page-button-description {
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 0;
}

/* ---------- Athlete List Elements ---------- */

#athletes-list {
    background-image: url("backgrounds/SportsBG3.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#athletes-list-table-container {
    background-color: #00C4B4;
    display: table;
    width: 60%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

.athletes-list-container-label {
    font-size: xx-large;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
}

#athlete-view-button{
    padding: 5px 10px;
    margin: 5px;
    border-radius: 25px;
    border-width: 2px;
}

/* ---------- Sign Up Page Elements ---------- */

#sign-up {
    background-image: url("backgrounds/SportsBG1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#sign-up-box {
    background-color: #00C4B4;
    width: 50%;
    display: table;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 5px black;
    container-type: size;
}

#sign-up-header.both {
    font-size: 3cqmin;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
    padding: 0;
}

#sign-up-form {
    display: flex;
    flex-direction: column;
}

.sign-up-form-input-label.both {
    font-size: max(1cqmin, 20px);
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 2%;
    margin-left: 15%;
}

.sign-up-form-input.both {
    width: 70%;
    font-size: max(1cqmin, 20px);
    min-font-size: 100px;
    padding: 1%;
    border-radius: 3cqmax;
    margin-left: auto;
    margin-right: auto;
}

#submit-sign-up-button.both, #cancel-sign-up-button.both {
    height: 60px;
    width: 50%;
    margin-top: 5%;
    border-radius: 30px;
    font-size: large;
}

#submit-sign-up-button {
    margin-left: 40%;
}

#cancel-sign-up-button {
    margin-left: 10%;
}

#sign-up-form-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* ---------- User Profile Page Elements ---------- */

#athlete-page {
    background-image: url("backgrounds/SportsBG3.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#athlete-page-welcome-div {
    font-size: x-large;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
}

#athlete-page-top-grid {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

#athlete-page-photo-box {
    background-color: #00C4B4;
    height: 500px;
    width: 80%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 5px black;
}

#athlete-page-photo-box img{
    height: 85%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 5%;
}

#user-photo-update-button{
    height: 10%;
    width: 50%;
    padding: 2%;
    margin-left: 30%;
    border-radius: 30px;
    font-size: xx-large;
}

#athlete-page-win-loss-box {
    background-color: #00C4B4;
    height: 300px;
    width: 80%;
    border-radius: 40px;
    margin: auto;
    padding: 1%;
    box-shadow: 5px 5px 5px black;
    display: inline;
}

#win-loss-tie-row{
    display: flex;
    justify-content: space-between;
    padding: 2%;

}

.user-win-loss-tie-container{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: xx-large;
}

.user-win-loss-tie-box{
    background-color: white;
    border-radius: 15px;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 3px 3px 3px black;
}

.user-win-loss-tie-box p{
    font-size: xxx-large;
    color: black;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    text-shadow: none;
}

#athlete-page-athlete-info-box {
    background-color: #00C4B4;
    height: 450px;
    width: 80%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 5px black;
}

.user-page-stats-box{
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    box-shadow: 5px 5px 5px black;
    border-radius: 25px;
    text-shadow: 0 0;
}

.user-page-stats-div{
    font-size: xx-large;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.user-page-stats-box p{
    padding: 2% 5%;
    margin-top: 1%;
}

.user-page-stats-div label{
    margin-left: 10%;
}

#user-info-update-button{
    height: 10%;
    width: 50%;
    padding: 2%;
    margin-left: 25%;
    border-radius: 30px;
    font-size: xx-large;
}

#user-page-events-box {
    background-color: #00C4B4;
    width: 80%;
    border-radius: 40px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 5px black;
    display: table;
}

#user-events-heading{
    font-size: xx-large;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
}

#user-tournament-info-button, #user-tournament-leave-button, #user-tournament-bracket-button{
    padding: 5px 10px;
    margin: 5px;
    border-radius: 25px;
    border-width: 2px;
}

/* ---------- Tournament Creation Page Elements ---------- */

#tournament-creation-page {
    background-image: url("backgrounds/SportsBG4.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#tournament-creation-card {
    background-color: #00C4B4;
    width: 50%;
    display: table;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 5px black;
    container-type: size;
}

#tournament-creation-form {
    display: flex;
    flex-direction: column;
}

.tournament-creation-form-input-label.both {
    font-size: max(1cqmin, 20px);
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 2%;
    margin-left: 15%;
}

.tournament-creation-form-input.both {
    width: 70%;
    font-size: max(1cqmin, 20px);
    min-font-size: 100px;
    padding: 1%;
    border-radius: 3cqmax;
    margin-left: auto;
    margin-right: auto;
}

#submit-tournament-creation-button.both, #cancel-tournament-creation-button.both {
    height: 60px;
    width: 50%;
    margin-top: 5%;
    border-radius: 30px;
    font-size: large;
}

#submit-tournament-creation-button {
    margin-left: 40%;
}

#cancel-tournament-creation-button {
    margin-left: 10%;
}

#tournament-creation-form-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* ----------- All Tournaments Page ---------- */

#all-tournaments-list {
    background-image: url("backgrounds/SportsBG1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#all-tournaments-list-table-card {
    background-color: #00C4B4;
    width: 80%;
    display: table;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 5px black;
}

#tournament-list-info-button, .tournament-list-joinleave-button{
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 25px;
    border-width: 2px;
}

/* ---------- Tournament Info Page ---------- */

#tournament-info-page {
    background-image: url("backgrounds/SportsBG1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#tournament-info-card-space{
    display: flex;
}

#tournament-info-card {
    background-color: #00C4B4;
    width: 50%;
    display: table;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 5px black;
    container-type: size;
}

#tournament-participants-card{
    background-color: #00C4B4;
    width: 30%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px black;
    text-align: center;
}

#tournament-info-form {
    display: flex;
    flex-direction: column;
}

.tournament-info-form-input{
    width: 70%;
    font-size: max(1cqmin, 20px);
    min-font-size: 100px;
    padding: 1%;
    border-radius: 3cqmax;
    margin-left: auto;
    margin-right: auto;
}

.tournament-info-form-input::placeholder{
    color: black;
}

.tournament-info-form-input-label{
    font-size: max(1cqmin, 20px);
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 2%;
    margin-left: 15%;
}

#submit-tournament-info-button.both, #cancel-tournament-info-button.both {
    height: 60px;
    width: 50%;
    margin-top: 5%;
    border-radius: 30px;
    font-size: large;
}

#submit-tournament-info-button {
    margin-left: 40%;
}

#cancel-tournament-info-button {
    margin-left: 10%;
}

#tournament-info-form-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
}

#tournament-info-participants-title{
    font-size: xx-large;
    color: white;
    text-shadow: 3px 3px 3px black;
    margin-top: 2%;
}

#tournament-info-athlete-info-button, #tournament-info-athlete-kick-button{
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 25px;
    border-width: 2px;
}

/* ---------- Bracket Page ---------- */

#bracket-page{
    background-image: url("backgrounds/SportsBG4.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#bracket-container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #00C4B4;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px black;
    text-align: center;
}

#bracket-round-label{
    font-size: x-large;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.bracket-matches{
    background-color: #7F39FB;
    border-radius: 40px;
    margin-top: 1%;
    padding: 1%;
    width: 95%;
    box-shadow: 2px 2px 2px black;
    font-size: x-large;
    display: block;
}

.bracket-match-link{
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 3px black;
    align-items: center;
    margin-bottom: 10px;
    display: grid;
}

.match-participant {
    text-align: center;
    display: inline-flex;
}

.participant-score {
    font-weight: bold;
    margin-left: 10px;
}

.bracket-match-loser{
    color: red;
    text-decoration: line-through;
    text-decoration-color: black;
}

/* ---------- Match Page ---------- */

#scoreboard{
    background-image: url("backgrounds/SportsBG2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#scoreboard-box{
    padding: 5%;
    align-items: center;
    background-color: #00C4B4;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    width: 70%;
}

#scoreboard-box-title{
    font-size: xxx-large;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 0%;
}

.scoreboard-athlete{
    background-color: #7F39FB;
    padding: 3%;
    font-size: xxx-large;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    display: table;
    margin: 1.5% auto;
    border-radius: 40px;
    box-shadow: 5px 5px 5px black;
    width: 50%;
}

.scoreboard-athlete-name, .scoreboard-athlete-score{
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

.scoreboard-input-label{
    text-align: left;
}

.scoreboard-athlete-name-input{
    text-align: right;
    font-size: xx-large;
    width: auto;
    border-radius: 40px;
    padding: 1%;
}

.scoreboard-athlete-score-input{
    font-size: xx-large;
    width: 10%;
    border-radius: 40px;
    padding: 1%;
    text-align: center;
}