/* ---------- Shared Elements ---------- */

.background {
    background-color: #7F39FB;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    background-color: #0000003E;
    background-position: top;
    font-size: xxx-large;
    color: white;
    text-align: center;
    margin: 0;
    text-shadow: 4px 4px 4px black;
}

.headerText {
    margin: 0;
}

.page-description {
    font-size: xxx-large;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

.table {
    background: white;
    font-size: x-large;
    box-shadow: 3px 3px 5px black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.striped-table:nth-child(even) {
    background-color: #E1C8FF;
}

.button {
    background-color: #BB86FC;
    text-decoration: none;
    color: white;
    box-shadow: 3px 3px 5px black;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #D2AEFE;
}

.button:active {
    background-color: #9540FC;
    box-shadow: inset 2px 2px 4px black;
}

/* ---------- Login Page Elements ---------- */

#login-page{
    background-image: url("backgrounds/SportsBG1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#login-box {
    background-color: #00C4B4;
    height: 50%;
    width: 30%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 5px black;
}

#login-form-form{
    display: block;
}

#login-box-header{
    font-size: xx-large;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
}

.login-form-input-label{
    margin-left: 5%;
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#form-label-two{
    display: block;
    margin-top: 5%;
}

.login-form-input{
    width: 100%;
    font-size: x-large;
    padding: 2% 2%;
    border-radius: 40px;
}

#submit-login-button{
    display: block;
    height: 50px;
    width: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    font-size: large;
}

#cancel-login-button{
    height: 35px;
    width: 20%;
    margin-left: 17%;
    margin-top: 10%;
    border-radius: 20px;
    font-size: large;
}

#create-new-link{
    font-size: x-large;
    margin-left: 5%;
    color: white;
}

/* ---------- Landing Page Elements ---------- */

#landing-page {
    background-image: url("backgrounds/SportsBG2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#cards-container {
    background-color: #00C4B4;
    height: 50%;
    width: 50%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

.landing-page-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

.landing-page-button {
    display: block;
    margin: 5%;
    padding: 3%;
    border-radius: 20px;

}

.landing-page-button-title {
    font-size: xx-large;
    margin-top: 3%;
    margin-bottom: 0.5%;
}

.landing-page-button-description {
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 0;
}

/* ---------- Athlete List Elements ---------- */

#athletes-list {
    background-image: url("backgrounds/SportsBG3.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#athletes-list-table-container {
    background-color: #00C4B4;
    height: 50%;
    width: 50%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

.athletes-list-container-label {
    font-size: xx-large;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
}

/* ---------- Sign Up Page Elements ---------- */

#sign-up-box{
    background-color: #00C4B4;
    height: 100%;
    width: 50%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    box-shadow: 5px 5px 5px black;
}

#sign-up-header{
    font-size: xx-large;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
}

.sign-up-form-input-label, .sign-up-form-input{
    display: block;
}

.sign-up-form-input-label{
    margin-left: 5%;
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.sign-up-form-input{
    width: 60%;
    font-size: x-large;
    padding: 2% 2%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}

#submit-sign-up-button, #cancel-sign-up-button{
    height: 50px;
    width: 30%;
    margin-top: 2%;
    border-radius: 25px;
    font-size: large;
}

