<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Page title and linking to external CSS file -->
    <title>Tournament and Athlete Empowerment</title>
    <link rel="stylesheet" href="/static/CSSFile.css">
    <link rel="icon" href="/backgrounds/icon.png">
</head>
<body id="athlete-page" class="background">
<div class="header">
    <h1 class="headerText">TMAE</h1>
</div>
<div class="container">
    <div id="athlete-page-welcome-div">
        <h2>Welcome, <h2 th:text="${loggedInFullName}"></h2>!</h2>
    </div>
    <div id="athlete-page-top-grid">
        <div id="athlete-page-photo-box">
            <img>
        </div>
        <div id="athlete-page-win-loss-box">
        </div>
        <div id="athlete-page-athlete-info-box">
        </div>
    </div>
    <div id="athlete-page-bottom-grid">
        <div id="athlete-page-tournaments-box">

        </div>
    </div>

</div>

</body>
</html>