<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Page title and linking to external CSS file -->
    <title>Tournament Management and Athlete Empowerment</title>
    <link rel="stylesheet" href="/static/CSSFile.css">
    <link rel="icon" href="/backgrounds/icon.png">
</head>
<body id="bracket-32-page" class="background">
<div class="header">
    <h1 class="headerText">Tournament Management and Athlete Empowerment</h1>
</div>
<div th:include="/navbar :: navbar"></div>
<div class="container">
    <h1 class="page-description">Bracket</h1>
    <div id="bracket-container">
        <div id="bracket-columns-container">
            <div class="bracket-match" th:each="match : ${matches}">
                <a>
                    <h4 th:text="${match.getAthlete1().getFirstName()}">Test</h4>
                    <h4 th:text="${match.getAthlete2().getFirstName()}"></h4>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>