<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tournament and Athlete Empowerment</title>
    <link rel="stylesheet" href="/CSSFile.css">
</head>
<body id="landing-page" class="background">
<div class="container">
    <div class="header">
        <h1 class="headerText">TMAE</h1>
    </div>

    <h1 class="page-description">Welcome to the Tournament Management and Athlete Empowerment App!</h1>
    <div id="cards-container">
        <div class="grid">
            <a class="landing-page-button" href="/athletes/athletes_list">
                <h4 class="landing landing-page-button-title">Athletes</h4>
                <p class="landing-page-button-description">Click to see a list of Athletes</p>
            </a>
            <a class="landing-page-button" href="/athletes/athletes_list">
                <h4 class="landing landing-page-button-title">Placeholder</h4>
                <p class="landing-page-button-description">This will take you somewhere</p>
            </a>
            <a class="landing-page-button" href="/athletes/athletes_list">
                <h4 class="landing landing-page-button-title">Placeholder</h4>
                <p class="landing-page-button-description">This will take you somewhere</p>
            </a>
            <a class="landing-page-button" href="/athletes/athletes_list">
                <h4 class="landing landing-page-button-title">Placeholder</h4>
                <p class="landing-page-button-description">This will take you somewhere</p>
            </a>
            <a class="landing-page-button" href="/athletes/athletes_list">
                <h4 class="landing landing-page-button-title">Placeholder</h4>
                <p class="landing-page-button-description">This will take you somewhere</p>
            </a>
            <a class="landing-page-button" href="/athletes/athletes_list">
                <h4 class="landing landing-page-button-title">Placeholder</h4>
                <p class="landing-page-button-description">This will take you somewhere</p>
            </a>
            <a class="landing-page-button" href="/athletes/athletes_list">
                <h4 class="landing landing-page-button-title">Placeholder</h4>
                <p class="landing-page-button-description">This will take you somewhere</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>