<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Page title and linking to external CSS file -->
    <title>Tournament Management and Athlete Empowerment</title>
    <link rel="stylesheet" href="/CSSFile.css">
    <link rel="icon" href="/backgrounds/icon.png">
</head>
<body id="landing-page" class="background">
<!-- Container for the entire landing page content -->
<!-- Header section -->
<div class="header">
    <h1 class="headerText">Tournament Management and Athlete Empowerment</h1>
</div>
<div th:include="/navbar :: navbar"></div>
<div class="container">
    <!-- Page description -->
    <h1 class="page-description">Welcome to the Tournament Management and Athlete Empowerment App!</h1>

    <!-- Container for the card buttons -->
    <div id="cards-container">
        <!-- Grid of buttons -->
        <div class="landing-page-grid">
            <!-- Button for Athletes List -->
            <a class="landing-page-button button" href="/athlete_profile/userInfo">
                <h4 class="landing landing-page-button-title">User Profile</h4>
                <p class="landing-page-button-description">See your User info</p>
            </a>

            <!-- Placeholder buttons (adjust as needed) -->
            <a class="landing-page-button button" href="/tournament/listAllTournaments">
                <h4 class="landing landing-page-button-title">All Tournaments</h4>
                <p class="landing-page-button-description">All Available Tournaments</p>
            </a>
            <!-- ... Repeat for additional placeholder buttons ... -->
            <a class="landing-page-button button" href="/tournament/creation">
                <h4 class="landing landing-page-button-title">Tournament Creation</h4>
                <p class="landing-page-button-description">Create a Tournament</p>
            </a>
            <a class="landing-page-button button" href="/athletes/athletes_list">
                <h4 class="landing landing-page-button-title">Athletes List</h4>
                <p class="landing-page-button-description">See All Athletes</p>
            </a>
            <a class="landing-page-button button" href="/landing_page">
                <h4 class="landing landing-page-button-title">Navigation Menu</h4>
                <p class="landing-page-button-description">Reload this Page</p>
            </a>
            <a class="landing-page-button button" href="">
                <h4 class="landing landing-page-button-title">Placeholder</h4>
                <p class="landing-page-button-description">This will take you somewhere</p>
            </a>
            <a class="landing-page-button button" href="">
                <h4 class="landing landing-page-button-title">Placeholder</h4>
                <p class="landing-page-button-description">This will take you somewhere</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>
