<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tournament and Athlete Empowerment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <h1 class="mt-5">Welcome to the Tournament Management and Athlete Empowerment App!</h1>

    <div class="row mt-5">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Athletes</h5>
                    <p class="card-text">See a List of Athletes</p>
                    <a class="btn btn-primary" href="/athletes/athletes_list">View Athletes</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>