<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Page title and linking to external CSS file -->
    <title>Tournament and Athlete Empowerment</title>
    <link rel="stylesheet" href="../static/CSSFile.css">
</head>
<body id="login-page" class="background">
<div class="header">
    <h1 class="headerText">TMAE</h1>
</div>

<h1 class="page-description">Tournament Management and Athlete Empowerment</h1>
<div id="login-box">
    <h2>Login</h2>
    <form id="login-form">
        <div>
            <label class="login-form" for="username">Username</label>
            <input class="login-form" id="username" type="text" placeholder="Enter Username" name="username" required>
            <label class="login-form" for="password">Password</label>
            <input class="login-form" id="password" type="text" placeholder="Enter Password" name="password" required>
        </div>
    </form>
</div>

</body>
</html>