<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Navigation bar</title>
  <link rel="stylesheet" href="/CSSFile.css">
</head>
<body>
<div th:fragment="navbar" id="navbar-div">
  <nav id="navbar-nav">
    <a th:classappend="${currentPage == '/athlete_profile/userlogin' ? 'active' : ''}" class="nav-link" th:href="@{/athlete_profile/userlogin}">User Profile</a>
    <a th:classappend="${currentPage == '/tournament/creation' ? 'active' : ''}" class="nav-link" th:href="@{/tournament/creation}">Tournament Creation</a>
    <a th:classappend="${currentPage == '/athletes/athletes_list' ? 'active' : ''}" class="nav-link" th:href="@{/athletes/athletes_list}">Athletes List</a>
    <a th:classappend="${currentPage == '/landing_page' ? 'active' : ''}" class="nav-link" th:href="@{/landing_page}">Landing Page</a>
    <a class="nav-link" th:href="@{/logout}">Logout</a>
  </nav>
</div>
</body>
</html>