<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Page title and linking to external CSS file -->
    <title>Tournament Management and Athlete Empowerment</title>
    <link rel="stylesheet" href="/CSSFile.css">
    <link rel="icon" href="/backgrounds/icon.png">
</head>
<body id="athletes-list" class="background">
<!-- Header section -->
<div class="header">
    <h1 class="headerText">Tournament Management and Athlete Empowerment</h1>
</div>

<div th:include="/navbar :: navbar"></div>
<div class="container">
    <!-- Page description -->
    <h1 class="page-description">Super Secret Development Page</h1>

    <!-- Athletes list container -->
    <div id="athletes-list-table-container">
        <!-- Container label -->
        <h2 class="athletes-list-container-label">Athletes</h2>
        <form id="developer-tournament-form" th:action="@{/developer/update_tournament}"
              method="post">
            <div id="developer-tournament-dropdown">
                <label for="tournamentDropdown">Choose a Tournament:</label>
                <select id="tournamentDropdown" name="tournamentDropdown" onchange="dropdownChange()">
                    <option value=0>Select Tournament</option>
                    <option th:each="tournament : ${tournaments}" th:value="${tournament.getTournamentID()}"
                            th:text="${tournament.getTournamentName()}"
                            th:selected="${tournament.getTournamentID() == currentTournamentID}"></option>
                </select>
                <input type="hidden" id="currentTournamentID" th:value="${currentTournamentID}" />
                <button type="submit">Update Participants</button>
            </div>

            <!-- Table for displaying athlete data -->
            <table class="table">
                <thead>
                <!-- Table header -->
                <tr class="table-header">
                    <th><label for="developer-check-all">
                        <input type="checkbox" name="developerCheckAll" id="developer-check-all" onClick="toggleChecks(this)">
                    </label></th>
                    <th scope="col">Athlete ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Losses</th>
                    <th scope="col">Ties</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterate over the list of athletes and display each row -->
                <tr class="striped-table" th:each="athlete : ${athletes}">
                        <td><label for="developer-join-checkbox">
                            <input type="checkbox"  name="developerSelectedAthletes" id="developer-join-checkbox"
                                   th:value="${athlete.get(0).getAthleteID()}" th:checked="${athlete.get(1)}">
                        </label></td>
                    <td th:text="${athlete.get(0).getAthleteID()}"></td>
                    <td th:text="${athlete.get(0).getFirstName()}"></td>
                    <td th:text="${athlete.get(0).getLastName()}"></td>
                    <td th:text="${athlete.get(0).getWins()}"></td>
                    <td th:text="${athlete.get(0).getLosses()}"></td>
                    <td th:text="${athlete.get(0).getTies()}"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    function toggleChecks(source) {
        var checkboxes = document.getElementsByName('developerSelectedAthletes');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    function dropdownChange(){
        const selectedTournament = document.getElementById("tournamentDropdown").value;
        const currentTournamentID = document.getElementById("currentTournamentID").value;

        if (selectedTournament === "0") {
            document.getElementById("tournamentDropdown").value = currentTournamentID;
        } else {
            window.location.href = '/developer/' + selectedTournament;;
        }
    }
</script>
</body>
</html>
