<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Page title and linking to external CSS file -->
    <title>Tournament Management and Athlete Empowerment</title>
    <link rel="stylesheet" href="/CSSFile.css">
    <link rel="icon" href="/backgrounds/icon.png">
</head>
<body id="all-tournaments-list" class="background">
<!-- Header section -->
<div class="top-of-page">
    <div class="header">
        <h1 class="headerText">Tournament Management and Athlete Empowerment</h1>
    </div>

    <div th:include="/navbar :: navbar"></div>
</div>
<div class="container">
    <!-- Page description -->
    <h1 class="page-description">All Tournaments</h1>
    <div id="all-tournaments-list-table-card">
        <!-- Container label -->
        <table class="table">
            <thead>
            <!-- Table header -->
            <tr class="table-header">
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Max Participants</th>
                <th scope="col">Total Participants</th>
                <th scope="col">Link</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Registration Deadline</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="striped-table" th:each="tournament : ${listAllTournaments}">
                <td th:text="${tournament.getTournamentName()}"></td>
                <td th:text="${tournament.getLocation()}"></td>
                <td th:text="${tournament.getMaxNumParticipants()}"></td>
                <td th:text="${tournament.getAllParticipants().size()}"></td>
                <td th:text="${tournament.getWebsiteLink()}"></td>
                <td th:text="${#temporals.format(tournament.getStartDate(), 'MM/dd/yyyy')}"></td>
                <td th:text="${#temporals.format(tournament.getEndDate(), 'MM/dd/yyyy')}"></td>
                <td th:text="${#temporals.format(tournament.getRegistrationDeadline(), 'MM/dd/yyyy')}"></td>
                <td><a id="tournament-list-info-button" class="button-green" th:href="@{'/tournament/'
                    + ${tournament.getTournamentID()}}">Info</a></td>
                <td>
                    <a class="button-green tournament-list-joinleave-button" th:href="@{'/tournament/joinTournament/'
                    + ${tournament.getTournamentID()}}" th:if="${!tournament.getAllParticipants().contains(user) &&
                    !tournament.isInitialBracketsGenerated()}">Join</a>
                    <a class="button-red tournament-list-joinleave-button" th:href="@{'/tournament/leaveTournament/'
                    + ${tournament.getTournamentID()}}" th:if="${tournament.getAllParticipants().contains(user) &&
                    !tournament.isInitialBracketsGenerated()}">Leave</a>
                    <a class="button-blue tournament-list-joinleave-button" th:href="@{'/bracket/'
                    + ${tournament.getTournamentID()}}" th:if="${tournament.isInitialBracketsGenerated()}">Bracket</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
