<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Page title and linking to external CSS file -->
    <title>Tournament Management and Athlete Empowerment</title>
    <link rel="stylesheet" href="/CSSFile.css">
    <link rel="icon" href="/backgrounds/icon.png">
</head>
<body id="athlete-page" class="background">
<div class="header">
    <h1 class="headerText">Tournament Management and Athlete Empowerment</h1>
</div>
<div th:include="/navbar :: navbar"></div>
<div class="container">
    <div id="athlete-page-welcome-div">
        <h2 th:text="${customWelcome}"></h2>
    </div>
    <div id="athlete-page-top-grid">
        <div id="athlete-page-photo-box">
            <!-- Check if there is photo data and set the source accordingly -->
            <img th:if="${photoData}" th:src="@{'data:image/' + ${photoContentType} + ';base64,' + ${photoDataAsBase64}}" alt="Athlete Photo" />
            <!-- Display a default image if there is no photo data -->
            <img th:unless="${photoData}" src="/backgrounds/no-photo-icon.png" alt="Default Image" />

            <!-- Form to update photo -->
            <form th:action="@{/athlete_profile/updatePhoto}" method="post" enctype="multipart/form-data">
                <input type="file" name="photoFile" />
                <input type="hidden" name="athleteID" th:value="${athleteID}" />
                <button class="button" id="user-photo-update-button" type="submit">Upload Photo</button>
            </form>
            <div th:if="${error}">
                <p th:text="${error}"></p>
            </div>
        </div>
        <div id="athlete-page-win-loss-box">
            <div id="win-loss-tie-row">
                <div class="user-win-loss-tie-container">
                    <h3>Wins</h3>
                    <div class="user-win-loss-tie-box">
                        <p th:text="${wins}"></p>
                    </div>
                </div>
                <div class="user-win-loss-tie-container">
                    <h3>Losses</h3>
                    <div class="user-win-loss-tie-box">
                        <p th:text="${losses}"></p>
                    </div>
                </div>
                <div class="user-win-loss-tie-container">
                    <h3>Ties</h3>
                    <div class="user-win-loss-tie-box">
                        <p th:text="${ties}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="athlete-page-athlete-info-box">
            <div class="user-page-stats-div">
                <label for="user-page-stats-age">Age</label>
                <div class="user-page-stats-box" id="user-page-stats-age">
                    <p th:text="${age}"></p>
                </div>
            </div>
            <div class="user-page-stats-div">
                <label for="user-page-stats-weight">Weight</label>
                <div class="user-page-stats-box" id="user-page-stats-weight">
                    <p th:text="${weight}"></p>
                </div>
            </div>
            <div class="user-page-stats-div">
                <label for="user-page-stats-affiliation">Affiliation</label>
                <div class="user-page-stats-box" id="user-page-stats-affiliation">
                    <p th:text="${affiliation}"></p>
                </div>
            </div>
            <a class="button" id="user-info-update-button" href="test">Update User Info</a>
        </div>
    </div>
    <div id="athlete-page-bottom-grid">
        <div id="user-page-events-box">
            <h2 id="user-events-heading">Registered Events</h2>
            <table class="table" id="user-events-table">
                <thead>
                <!-- Table header -->
                <tr class="table-header">
                    <th scope="col">Tournament Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Location</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="striped-table" th:each="event : ${listEvents}">
                    <td th:text="${event.getTournamentName()}"></td>
                    <td th:text="${event.getStartDate()}"></td>
                    <td th:text="${event.getLocation()}"></td>
                    <td><a id="user-tournament-info-button" class="button-green" th:href="@{'/tournament/tournament/' + ${event.getTournamentID()}}">Info</a></td>
                    <td><a id="user-tournament-leave-button" class="button-green" th:href="@{'/tournament/leaveTournament/' + ${event.getTournamentID()}}">Leave</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>